@import-normalize; /* bring in normalize.css styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;

  background-color: rgba(231, 234, 242, 1);
  background-image: url('./img/ellipseLeft.png'),url('./img/ellipseRight.png');
  background-repeat: no-repeat, no-repeat;
  background-position:  0  bottom, 100% top;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-input {
  background-color: transparent;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):focus-within {
    border-color: rgba(36, 204, 167, 1);
    border-inline-end-width: 1px;
    z-index: 1;
    box-shadow: 0 0 0 2px rgba(36, 204, 167, 1);
    border-radius: 10px;
}
